<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/clg.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College</title>
    <meta name="robots" content= "index, follow">
    
    <link rel="shartcut icon" type="image/x-icon" href="./img/images/Group.png"/>
</head>
<body>
    <div class="wrapper">


        <div class="profile-card js-profile-card">
         <div class="profile-card__img">
          <img src="./img/meerut-college-meerut_owler_20160302_223540_original.png" alt="profile" style="width: 150px; height: 150px;">
         </div>
      
         <div class="profile-card__cnt js-profile-cnt">
          <div class="profile-card__name">You are in {{college}} </div>
          <div class="profile-card__txt"> Meerut,<strong> CCSU</strong></div>
          <div class="profile-card-loc">
           <span class="profile-card-loc__icon"><i class="fas fa-map-marker-alt"></i>
           </span>
      
           <span class="profile-card-loc__txt">
            Meerut, UP
           </span>
          </div>
         </div>
        </div>
       </div>
       <div class="courses-container">
        {{#each colleges}}
            <div class="course">
                <div class="course-preview">
                    <img src="./img/ccsu.png" alt="profile" style="width: 200px; border-radius: 50%; margin-right: 100px;">
                    <a href="#">Meerut College Meerut</a>
                </div>
                <div class="course-info">
                
                    <h6>{{this.university}}</h6>
                    <h2>{{this.name}}</h2>
                    <button onclick="jumpToOtherCollege('{{this.name}}')" class="btn">JUMP</button>
                </div>
            </div>
        {{/each}}
        <!-- <div class="course">
            <div class="course-preview">
                <img src="./img/dn.jpg" alt="profile" style="width: 200px; border-radius: 50%; margin-right: 100px;">
                <a href="#">Meerut College Meerut</a>
            </div>
            <div class="course-info">
               
                <h6>CCSU</h6>
                <h2>DN COllege </h2>
                <button class="btn">JUMP</button>
            </div>
        </div>
        <div class="course">
            <div class="course-preview">
                <img src="./img/nas.jpg" alt="profile" style="width: 200px; border-radius: 50%; margin-right: 100px;">
                <a href="#">Meerut College Meerut</a>
            </div>
            
            <div class="course-info">
               
                <h6>CCSU</h6>
                <h2>NAS College</h2>
                <button class="btn">JUMP</button>
            </div>
        </div>
        <div class="course">
            <div class="course-preview">
                <img src="./img/shubharti.jpg" alt="profile" style="width: 200px; border-radius: 50%; margin-right: 100px;">
                <a href="#">Meerut College Meerut</a>
            </div>
            
            
            <div class="course-info">
               
                <h6>CCSU</h6>
                <h2>Shubharti University</h2>
                <button class="btn">JUMP</button>
            </div>
        </div>
    </div> -->
    <!-- jump college script -->
    <script>
        const jumpToOtherCollege =  (collegeName) => {
            document.cookie = `college=${collegeName.toLowerCase()}`;
            document.location.href = "http://localhost:3001";
        }
    </script>
</body>
</html>