
/* import fonts from fonts.css file */ 
@import url(./fonts.css);

/* box */ 
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* css variables */ 
@import url(./partials/_variables.css);

/* import global styling */ 
@import url(./partials/_global.css);


/* start navigation */ 

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
    font: normal 500 30px/2px var(--roboto);
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem ;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */ 

/* Banner Area */ 

.site-main .site-banner {
    background: url(../img/images/p5.png) no-repeat 100% 100%;
    background-attachment: fixed;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}


.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}

.nav{
  display: none;
}

.wrapper1{
  font: normal var(--roboto);
	position: fixed;
	top: 50%;
	left: 80%;
  text-decoration: none;
	transform: translate(-50%,-50%);
  z-index: 5;
}

.toggle_button{
	width: 300px;
	height: 65px;
	background: #ffa60097;
	border-radius: 50px;
	overflow: hidden;
	transition: all 0.2s ease;
}

.toggle_button ul li a{
  text-decoration: none;
	display: flex;
	align-items: center;
	height: 65px;
	padding: 0 35px;
}

.toggle_button ul li a.share_btn{
	justify-content: center;
	cursor: pointer;
}

.toggle_button ul li a.share_btn .text{
	font-weight: 700;
	font-size: 24px;
    letter-spacing: 10px;
    color: #c73a5d;
    margin-right: 15px;
}

.toggle_button ul li a.share_btn .icon{
	width: 35px;
	height: 35px;
	background: #c73a5d;
	display: inline-block;
	border-radius: 50%;
	position: relative;
	transition: all 1s ease;
}

.toggle_button ul li a .icon i{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
}

.toggle_button ul li a.sm .icon{
	position: relative;
	width: 35px;
	height: 35px;
	background: red;
	border-radius: 50%;
	margin-right: 15px;
}

.toggle_button ul li a .text{
	letter-spacing: 2px;
}

.toggle_button ul li a.jump .icon{
	background: #3b5998;
}

.toggle_button ul li a.jump .text{
	color: #3b5998;
}

.toggle_button ul li a.find .icon{
	background: #1da1f2;
}

.toggle_button ul li a.find .text{
	color: #1da1f2;
}

.toggle_button ul li a.book .icon{
	background: #c32aa3;
}

.toggle_button ul li a.book .text{
	color: #c32aa3;
}

.toggle_button ul li aChat .icon{
	background: #ff4500;
}

.toggle_button ul li aChat .text{
	color: #ff4500;
}

.toggle_button.active{
	height: 325px;
}

.toggle_button.active ul li a.share_btn .icon{
	transform: rotate(45deg);
}

.toggle_button ul li a.sm{
	visibility: hidden;
}

.toggle_button.active ul li a.sm {
    visibility: visible;
    transition-delay: 0.3s;
}

/* End Banner Area */ 


/* Chat Area */ 
.wrapper{
    right: 8%;
    top: 88%;
    position: fixed;
    display: inline-flex;
  }
  .wrapper .icon{
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 999999;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span{
    display: block;
    height: 60px;
    width: 60px;
    background: #f8750a;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span i{
    color: #282627;
    line-height: 60px;
    font-size: 25px;
  }
  .wrapper .icon .tooltip{
    position: absolute;
    top: 0;
    z-index: 99999;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
  }
  .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover span i{
    color: #fff;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px #00000066;
  }
  .wrapper .Chat:hover span,
  .wrapper .Chat:hover .tooltip,
  .wrapper .Chat:hover .tooltip:before{
    background: #282627;
  }

/* End Chat Area */ 

/* Footer Area */ 

footer.footer-area{
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}


/* End Footer */ 
